<section class="sec">
<div class="container-xl">
	<div class="row">
		<div class="col-md-12">
			<h2>Thobe<b> for Men</b></h2>
			<div id="myCarousel" class="carousel slide" >
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
								<div class="img-box ">
									<img src="assets/man/man1.png" class="img-fluid" alt="Apple iPad">									
								</div>
								<div class="thumb-content">
									<h4>BLACK THOBE</h4>									
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p class="item-price">$40.00 <b>$36.00</b></p>
									 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                      
                                        <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
								</div>						
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
								<div class="img-box">
									<img src="assets/man/man2.png" class="img-fluid" alt="Headphone">
								</div>
								<div class="thumb-content">
									<h4>BLUE THOBE</h4>									
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p class="item-price">$25.00 <b>$23.99</b></p>
									 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                      
                                        <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
								</div>						
							</div>
						</div>		
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
								<div class="img-box">
									<img src="assets/man/man3.png" class="img-fluid" alt="Macbook">
								</div>
								<div class="thumb-content">
									<h4>PURPLE THOBE</h4>									
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div>
									<p class="item-price">$89.00 <b>$69.00</b></p>
									 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                      
                                        <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
								</div>						
							</div>
						</div>								
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
								<div class="img-box">
									<img src="assets/man/man4.png" class="img-fluid" alt="Nikon">
								</div>
								<div class="thumb-content">
									<h4>MULTI THOBE</h4>									
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p class="item-price">$31.00 <b>$25.00</b></p>
									 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                      
                                        <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
								</div>						
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
	</div>
</section>



<section class="sec">
	<div class="container-xl">
		<div class="row">
			<div class="col-md-12">
				<div id="myCarousel" class="carousel slide" >
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row">
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="assets/man/man5.png" class="img-fluid" alt="">									
									</div>
									<div class="thumb-content">
										<h4>DARK BLUE THOBE</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price">$40.00 <b>$39.00</b></p>
										 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
										  
											<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
									</div>						
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="assets/man/man6.png" class="img-fluid" alt="Headphone">
									</div>
									<div class="thumb-content">
										<h4>BLUE THOBE</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price">$25.00 <b>$23.99</b></p>
										 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
										  
											<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
									</div>						
								</div>
							</div>		
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="assets/man/man7.png" class="img-fluid" alt="Macbook">
									</div>
									<div class="thumb-content">
										<h4>EMIRATI BROWN</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
											</ul>
										</div>
										<p class="item-price">$89.00 <b>$49.00</b></p>
										 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
										  
											<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
									</div>						
								</div>
							</div>								
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="assets/man/man8.png" class="img-fluid" alt="Nikon">
									</div>
									<div class="thumb-content">
										<h4>LITE GREEN THOBE</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price">$31.00 <b>$25.00</b></p>
										 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
										  
											<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
									</div>						
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
</div>
</section>

	<section class="sec">
		<div class="container-xl">
			<div class="row">
				<div class="col-md-12">
					<div id="myCarousel" class="carousel slide" >
					<div class="carousel-inner">
						<div class="item carousel-item active">
							<div class="row">
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
										<div class="img-box">
											<img src="assets/man/man1.png" class="img-fluid" alt="">									
										</div>
										<div class="thumb-content">
											<h4>BLACK THOBE</h4>									
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p class="item-price">$40.00 <b>$36.00</b></p>
											 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
											  
												<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
										</div>						
									</div>
								</div>
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
										<div class="img-box">
											<img src="assets/man/man3.png" class="img-fluid" alt="Headphone">
										</div>
										<div class="thumb-content">
											<h4>PURPLE THOBE</h4>									
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p class="item-price">$25.00 <b>$23.99</b></p>
											 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
											  
												<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
										</div>						
									</div>
								</div>		
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
										<div class="img-box">
											<img src="assets/man/man2.png" class="img-fluid" alt="Macbook">
										</div>
										<div class="thumb-content">
											<h4>DARK BLUE THOBE</h4>									
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
												</ul>
											</div>
											<p class="item-price">$89.00 <b>$49.00</b></p>
											 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
											  
												<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
										</div>						
									</div>
								</div>								
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
										<div class="img-box">
											<img src="assets/man/man5.png" class="img-fluid" alt="Nikon">
										</div>
										<div class="thumb-content">
											<h4>BLUE THOBE</h4>									
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p class="item-price">$31.00 <b>$25.00</b></p>
											 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
											  
												<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
										</div>						
									</div>
								</div>
							</div>
						</div>
		
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


