

<section class="sec">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2>Thobe<b> for Kids</b></h2>
                <div id="myCarousel" class="carousel slide" >
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box ">
                                        <img src="assets/kids/kid1.png" class="img-fluid" alt="Apple iPad">									
                                    </div>
                                    <div class="thumb-content">
                                        <h4>BLUE THOBE</h4>									
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price">$40.00 <b>$39.00</b></p>
                                         <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                          
                                            <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                    </div>						
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="assets/kids/kid2.png" class="img-fluid" alt="Headphone">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>BLACK THOBE</h4>									
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price">$25.00 <b>$23.99</b></p>
                                         <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                          
                                            <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                    </div>						
                                </div>
                            </div>		
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="assets/kids/kid3.png" class="img-fluid" alt="Macbook">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>DARK GREY THOBE</h4>									
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price">$89.00 <b>$69.00</b></p>
                                         <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                          
                                            <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                    </div>						
                                </div>
                            </div>								
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="assets/kids/kid4.png" class="img-fluid" alt="Nikon">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>GREY THOBE</h4>									
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price">$31.00 <b>$25.00</b></p>
                                         <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                          
                                            <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                    </div>						
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    
    
    
    <section class="sec">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" >
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/kids/kid5.png" class="img-fluid" alt="">									
                                        </div>
                                        <div class="thumb-content">
                                            <h4>MAROON THOBE</h4>									
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price">$40.00 <b>$39.00</b></p>
                                             <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                              
                                                <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                        </div>						
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/kids/kid6.png" class="img-fluid" alt="Headphone">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>MULTI THOBE-1</h4>									
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price">$25.00 <b>$23.99</b></p>
                                             <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                              
                                                <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                        </div>						
                                    </div>
                                </div>		
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/kids/kid7.png" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>MULTI THOBE-2</h4>									
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price">$89.00 <b>$49.00</b></p>
                                             <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                              
                                                <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                        </div>						
                                    </div>
                                </div>								
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/kids/kid8.png" class="img-fluid" alt="Nikon">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>WHITE THOBE</h4>									
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price">$35.00 <b>$25.00</b></p>
                                             <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                              
                                                <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                        </div>						
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    
        <section class="sec">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myCarousel" class="carousel slide" >
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/kids/kid1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>BLUE THOBE</h4>									
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <p class="item-price">$40.00 <b>$39.00</b></p>
                                                 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                                  
                                                    <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/kids/kid3.png" class="img-fluid" alt="Headphone">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>DARK GREY</h4>									
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <p class="item-price">$25.00 <b>$23.99</b></p>
                                                 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                                  
                                                    <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                            </div>						
                                        </div>
                                    </div>		
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/kids/kid4.png" class="img-fluid" alt="Macbook">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>GREY THOBE</h4>									
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>
                                                <p class="item-price">$99.00 <b>$69.00</b></p>
                                                 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                                  
                                                    <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                            </div>						
                                        </div>
                                    </div>								
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/kids/kid5.png" class="img-fluid" alt="Nikon">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>MAROON THOBE</h4>									
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <p class="item-price">$35.00 <b>$25.00</b></p>
                                                 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
                                                  
                                                    <button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
                                            </div>						
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    