<div class="container">
  <div class="row mb-2">
      <div class="col-12 text-center pt-3">
          <h1>WELCOME TO IBN ANWAAR ONLINE SHOPPING</h1>
          <h2>This is a <b>ISLAMIC</b> Dressing Shop For Men,Women & Kids</h2>
         <marquee><h3>Let's Go What You Want</h3> </marquee>
      </div>
  </div>
  
  <!--Start code-->
  <div class="row">
      <div class="col-12 pb-5">
          <!--SECTION START-->
          <section class="row">
              <!--Start slider news-->
              <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
                  
                      
                      <!--carousel inner-->
					  
                      <div class="carousel-inner">
                          <!--Item slider-->
                          <div class="carousel-item active">
                              <div class="card border-0 rounded-0 text-light overflow zoom">
                                  <div class="position-relative">
                                      <!--thumbnail img-->
                                      <div class="ratio_left-cover-1 image-wrapper">
                                      
                                              <img class="img-fluid w-100"
                                                   src="assets/man/man6.png"
                                                   alt="Bootstrap news template">
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!--end item slider-->
                      </div>
                      <!--end carousel inner-->
                  </div>
                  
    
              <!--End slider news-->
              
              <!--Start box news-->
              <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
                  <div class="row">
                      <!--news box-->
                      <div class="col-6 pb-1 pt-0 pr-1">
                          <div class="card border-0 rounded-0 text-white overflow zoom">
                              <div class="position-relative">
                                  <!--thumbnail img-->
                                  <div class="ratio_right-cover-2 image-wrapper">
                                     
                                          <img class="img-fluid"
                                               src="assets/man/front.jpeg"
                                               alt="simple blog template bootstrap">
                                    
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <!--news box-->
                      <div class="col-6 pb-1 pl-1 pt-0">
                          <div class="card border-0 rounded-0 text-white overflow zoom">
                              <div class="position-relative">
                                  <!--thumbnail img-->
                                  <div class="ratio_right-cover-2 image-wrapper">
                                      <img class="img-fluid"
                                               src="assets/women/women3.png"
                                               alt="bootstrap templates for blog">
                                 
                                  </div>
                               
                              </div>
                          </div>
                      </div>
                      
                      <!--news box-->
                      <div class="col-6 pb-1 pr-1 pt-1">
                          <div class="card border-0 rounded-0 text-white overflow zoom">
                              <div class="position-relative">
                                  <!--thumbnail img-->
                                  <div class="ratio_right-cover-2 image-wrapper">
                                  
                                          <img class="img-fluid"
                                               src="assets/women/women1.png"
                                               alt="bootstrap blog wordpress theme">
                                   
                                  </div>
                                 
                              </div>
                          </div>
                      </div>
                      
                      <!--news box-->
                      <div class="col-6 pb-1 pl-1 pt-1">
                          <div class="card border-0 rounded-0 text-white overflow zoom">
                              <div class="position-relative">
                                  <!--thumbnail img-->
                                  <div class="ratio_right-cover-2 image-wrapper">
                                      
                                          <img class="img-fluid"
                                               src="assets/kids/kidfront.png"
                                               alt="blog website templates bootstrap">
                                     
                                  </div>
                                 
                              </div>
                          </div>
                      </div>
                      <!--end news box-->
                  </div>
              </div>
              <!--End box news-->
          </section>
          <!--END SECTION-->
      </div>
  </div>
  <!--end code-->
  </div>






  <!--2nd-->
  <section class="sec">
	<div class="container-xl">
		<div class="row">
			<div class="col-md-12">
				<h2>Trending<b> Products</b></h2>
				<div id="myCarousel" class="carousel slide" >
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row">
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box ">
										<img src="assets/man/man1.png" class="img-fluid" alt="Apple iPad">									
									</div>
									<div class="thumb-content">
										<h4>BLACK THOBE</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price">$40.00 <b>$30.00</b></p>
										 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
										  
											<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
									</div>						
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="assets/man/man8.png" class="img-fluid" alt="Headphone">
									</div>
									<div class="thumb-content">
										<h4>GREEN THOBE</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price">$25.00 <b>$23.99</b></p>
										 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
										  
											<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
									</div>						
								</div>
							</div>		
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="assets/man/man1.png" class="img-fluid" alt="Macbook">
									</div>
									<div class="thumb-content">
										<h4>DARK BLACK THOBE</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
											</ul>
										</div>
										<p class="item-price">$80.00 <b>$49.00</b></p>
										 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
										  
											<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
									</div>						
								</div>
							</div>								
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="assets/man/man2.png" class="img-fluid" alt="Nikon">
									</div>
									<div class="thumb-content">
										<h4>BLUE THOBE</h4>									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price">$31.00 <b>$25.00</b></p>
										 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
										  
											<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
									</div>						
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
		</div>
		</div>
	</section>
	
	
	
	<section class="sec">
		<div class="container-xl">
			<div class="row">
				<div class="col-md-12">
					<div id="myCarousel" class="carousel slide" >
					<div class="carousel-inner">
						<div class="item carousel-item active">
							<div class="row">
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
										<div class="img-box">
											<img src="assets/women/women.png" class="img-fluid" alt="">									
										</div>
										<div class="thumb-content">
											<h4>PINK SCARF</h4>									
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p class="item-price">$40.00 <b>$30.00</b></p>
											 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
											  
												<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
										</div>						
									</div>
								</div>
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
										<div class="img-box">
											<img src="assets/women/women4.png" class="img-fluid" alt="Headphone">
										</div>
										<div class="thumb-content">
											<h4>LITE BROWN THOBE</h4>									
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p class="item-price">$25.00 <b>$23.99</b></p>
											 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
											  
												<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
										</div>						
									</div>
								</div>		
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
										<div class="img-box">
											<img src="assets/women/women10.png" class="img-fluid" alt="Macbook">
										</div>
										<div class="thumb-content">
											<h4>FULL HIJAB-1</h4>									
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
												</ul>
											</div>
											<p class="item-price">$89.00 <b>$49.00</b></p>
											 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
											  
												<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
										</div>						
									</div>
								</div>								
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
										<div class="img-box">
											<img src="assets/women/women11.png" class="img-fluid" alt="Nikon">
										</div>
										<div class="thumb-content">
											<h4>FULL HIJAB-2</h4>									
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<p class="item-price">$31.00 <b>$25.00</b></p>
											 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
											  
												<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
										</div>						
									</div>
								</div>
							</div>
						</div>
		
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	
		<section class="sec">
			<div class="container-xl">
				<div class="row">
					<div class="col-md-12">
						<div id="myCarousel" class="carousel slide" >
						<div class="carousel-inner">
							<div class="item carousel-item active">
								<div class="row">
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
											<div class="img-box">
												<img src="assets/kids/kid1.png" class="img-fluid" alt="">									
											</div>
											<div class="thumb-content">
												<h4>BLUE THOBE</h4>									
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<p class="item-price">$40.00 <b>$36.00</b></p>
												 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
												  
													<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
											</div>						
										</div>
									</div>
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
											<div class="img-box">
												<img src="/assets/kids/kid5.png" class="img-fluid" alt="Headphone">
											</div>
											<div class="thumb-content">
												<h4>MAROON THOBE</h4>									
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<p class="item-price">$25.00 <b>$23.99</b></p>
												 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
												  
													<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
											</div>						
										</div>
									</div>		
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
											<div class="img-box">
												<img src="assets/kids/kid2.png" class="img-fluid" alt="Macbook">
											</div>
											<div class="thumb-content">
												<h4>BLACK THOBE</h4>									
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
													</ul>
												</div>
												<p class="item-price">$89.00 <b>$69.00</b></p>
												 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
												  
													<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
											</div>						
										</div>
									</div>								
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
											<div class="img-box">
												<img src="assets/kids/kid3.png" class="img-fluid" alt="Nikon">
											</div>
											<div class="thumb-content">
												<h4>GREY THOBE</h4>									
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<p class="item-price">$31.00 <b>$25.00</b></p>
												 <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
												  
													<button type="button" class="btn btn-secondary btn-sm" routerLink="/cod">Buy Now</button>
											</div>						
										</div>
									</div>
								</div>
							</div>
			
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	