
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button"  rel="stylesheet" routerLink="/track" id="but">TRACK YOUR ORDER</button>
</div> 


                <div class="card mt-50 mb-50">
                    <div class="card-title mx-auto">Cash On Delivery</div>
                    <div class="nav">
                        <ul class="mx-auto">
                        </ul>
                    </div>
                    <form> <span id="card-header">First Name</span>
                        <div class="row row-1">
                            <div class="col-8"> <input type="text"  placeholder="Enter Your First Name"> </div>
                           </div>
                           <span id="card-header">Last Name</span>
                           <div class="row row-1">
                               <div class="col-8"> <input type="text" placeholder="Enter Your Last Name"> </div>
                              </div>
                              <span id="card-header">Phone No:</span>
                              <div class="row row-1">
                                  <div class="col"> <input type="number" placeholder="***** 9090"> </div>
                                 </div>
                        <span id="card-header">Address</span>
                        <div class="row row-1">
                            <div class="col-8"> <input type="text" placeholder="Enter Your Address"> </div>
                           </div>
                        <span id="card-header">District</span>
                        <div class="row row-1">
                            <div class="col-8"> <input type="text" placeholder="Enter Your District"> </div>
                           </div>
                           <span id="card-header">City</span>
                           <div class="row row-1">
                               <div class="col-8"> <input type="text" placeholder="Enter Your City"> </div>
                              </div>
                              <span id="card-header">State</span>
                             <div class="row row-1">
                            <div class="col-8"> <input type="text" placeholder="Enter Your State"> </div>
                           </div>
                           <span id="card-header">Pincode</span>
                        <div class="row row-1">
                            <div class="col"> <input type="number" placeholder="Enter Your Pincode"> </div>
                           </div>
                        
                        <div class="row">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-light btn-rounded" id="close" routerLink="/regards">Click To Confirm</button>
                              </div> 
                             
                        </div>
                    </form>
                    &nbsp;
                    <h2 style="margin-left:160px">--OR--</h2>

                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="button" routerLink="/pay" id="but">Click To Payment</button>


                </div>
        
